---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="Sobre mi">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hola, mi nombre es <strong>Eloy</strong> y soy un desarrollador web titulado en el grado superior de Desarrollo de Aplicaciones Web.
      <br />
      
      <ul class="list-disc list-inside">
        <li><strong>Java</strong></li>
        <li><strong>JavaScript y TypeScript</strong></li>
        <li><strong>ES6</strong></li>
        <li><strong>React</strong></li>
        <li><strong>Angular</strong></li>
        <li><strong>Svelte</strong></li>
        <li ><strong>Node.js y Express</strong></li>
        <li ><strong>Figma</strong></li>
        <!-- <li><strong>Bases SQL y No SQL</strong></li> -->
        <li><strong>SpringBoot</strong></li>
        <!-- <li><strong>Python</strong></li> -->
      </ul>
    </p>
    <p class="text-sm font-light">
      Más allá del coding, me apasiona el diseño, la creación y la originalidad.
    </p>
    <p class="text-sm font-light">
      Uno de mis hobbies es practicar baloncesto como jugador y entrenador en un equipo de niños de 10 años.
    </p>
    <p class="text-sm font-light">
      Cuento con buenas habilidades en trabajo en equipo, comunicación y liderazgo gracias a mi experiencia en anteriores trabajos.
    </p>
  </div>
</Card>
