---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="Sobre mi">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hola, mi nombre es <strong>Eloy</strong> y soy un desarrollador web titulado en el grado superior de Desarrollo de Aplicaciones Web.
      <br />
      <br />
      A continuación se presentan las tecnologías sobre las que más manejo tengo:
      <br />
      <br />
      <div>
        <div style="display: flex;">
          <img src="./pack_logos/html-5.webp" alt="Java" style="width: 20%; height: 20%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/js.webp" alt="Java" style="width: 20%; height: 20%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/typescript.webp" alt="Java" style="width: 20%; height: 20%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/css-3.webp" alt="Java" style="width: 20%; height: 20%; margin-right: 5px; margin-left: 5px;">  
        </div>

        <br />
        <br />

        <div style="display: flex;">
          <img src="./pack_logos/nodejs.webp" alt="Java" style="width: 20%; height: 20%; margin-right: 5px; margin-left: 5px;">  
          <img src="./pack_logos/react.webp" alt="Java" style="width: 20%; height: 20%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/angular.webp" alt="Java" style="width: 20%; height: 20%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/svelte.webp" alt="Java" style="width: 20%; height: 20%; margin-right: 5px; margin-left: 5px;">
        </div>

        <br />
        <br />

        <div style="display: flex;">
          <img src="./pack_logos/mongodb.webp" alt="Java" style="width: 20%; height: 20%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/mysql.webp" alt="Java" style="width: 20%; height: 20%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/postgre.webp" alt="Java" style="width: 20%; height: 20%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/springboot.webp" alt="Java" style="width: 20%; height: 20%; margin-right: 5px; margin-left: 5px;">
        </div>
        
        <br />
        <br />

        <div style="display: flex;">
          <img src="./pack_logos/piton.webp" alt="Java" style="width: 20%; height: 20%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/jupyter.webp" alt="Java" style="width: 20%; height: 20%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/Matplotlib.webp" alt="Java" style="width: 20%; height: 20%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/vite.webp" alt="Java" style="width: 20%; height: 20%; margin-right: 5px; margin-left: 5px;">
        </div>

        <br>
      </div>
      
    </p>
  </div>
</Card>
