---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="Sobre mi">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hola, mi nombre es <strong>Eloy</strong> y soy un desarrollador web titulado en el grado superior de Desarrollo de Aplicaciones Web.
      <br />
      <br />
      <div>
        <div style="display: flex;">
          <img src="./pack_logos/java.webp" alt="Java" style="width: 15%; height: 15%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/js.webp" alt="Java" style="width: 15%; height: 15%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/typescript.webp" alt="Java" style="width: 15%; height: 15%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/figma.webp" alt="Java" style="width: 15%; height: 15%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/html-5.webp" alt="Java" style="width: 15%; height: 15%; margin-right: 5px; margin-left: 5px;">
        </div>

        <br />

        <div style="display: flex;">
          <img src="./pack_logos/nodejs.webp" alt="Java" style="width: 15%; height: 15%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/svelte.webp" alt="Java" style="width: 15%; height: 15%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/react.webp" alt="Java" style="width: 15%; height: 15%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/angular.webp" alt="Java" style="width: 15%; height: 15%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/css-3.webp" alt="Java" style="width: 15%; height: 15%; margin-right: 5px; margin-left: 5px;">
        </div>

        <br />

        <div style="display: flex;">
          <img src="./pack_logos/mysql.webp" alt="Java" style="width: 15%; height: 15%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/postgre.webp" alt="Java" style="width: 15%; height: 15%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/phpmyadmin.webp" alt="Java" style="width: 15%; height: 15%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/mongodb.webp" alt="Java" style="width: 15%; height: 15%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/springboot.webp" alt="Java" style="width: 15%; height: 15%; margin-right: 5px; margin-left: 5px;">
        </div>
        
        <br />

        <div style="display: flex;">
          <img src="./pack_logos/piton.webp" alt="Java" style="width: 15%; height: 15%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/jupyter.webp" alt="Java" style="width: 15%; height: 15%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/Matplotlib.webp" alt="Java" style="width: 15%; height: 15%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/pandas.webp" alt="Java" style="width: 15%; height: 15%; margin-right: 5px; margin-left: 5px;">
          <img src="./pack_logos/NumPy.webp" alt="Java" style="width: 15%; height: 15%; margin-right: 5px; margin-left: 5px;">
        </div>
        <br>
      </div>
      
      
      <!-- <ul class="list-disc list-inside">
        
        <li><strong>ES6</strong></li>
      </ul> -->
    </p>
    <p class="text-sm font-light">
      Más allá del coding, me apasiona el diseño, la creación y la originalidad.
    </p>
    <p class="text-sm font-light">
      Uno de mis hobbies es practicar baloncesto como jugador y entrenador en un equipo de niños de 10 años.
    </p>
    <p class="text-sm font-light">
      Cuento con buenas habilidades en trabajo en equipo, comunicación y liderazgo gracias a mi experiencia en anteriores trabajos.
    </p>
  </div>
</Card>
