---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-1" title="Experiencia y hobbies">
  <style>
    .text-hover:hover {
      color: rgb(0, 163, 0);
      margin-top: 10px;
      text-shadow: green;
    }
  </style>
  <p class="text-sm font-light">
    <ul>
      <li><strong class="text-hover">Hobbies: </strong>Tecnología, informática y baloncesto</li>
      <li><strong class="text-hover">Experiencia: </strong>Gracias a varios trabajos que he tenido, he adquirido la habilidad de trabajo en equipo</li>
    </ul>
  </p>
</Card>